    {{> head }}
    {{> navbar }}

  
   <div class="row">

        <div class=" col-8">

        <h1> Este es un grillo de la especie "Acheta Domesticus"</h1>
        <p>  Acheta domesticus conocido comúnmente como grillo doméstico, es una especie de insecto ortóptero probablemente originario del sudoeste de Asia, pero que se ha extendido en todo el mundo.
             Son criados comercialmente como alimento para animales domésticos, como anfibios, artrópodos, aves y reptiles, pero pueden mantenerse como mascotas, como ha sido el caso en China y Japón.
        </p>
         </div>

        <div class="col-4">
        <img src="assets/img/imagen.png" class="img-thumbnail">

    </div>


    </div>

    {{> footer }}